Repository PittCSWiki/pittcswiki, pull requests merged in 2020-07, with the labels that each got.

#158 Trading
  src/guides/career/trading.md
Labels: guides

#222 Applied Statistics Minor Guide Revisions
  src/guides/academics/minors/stats.md
Labels: enhancement, guides

#228 Fix single typo in Cross Registration guide
  src/guides/academics/registration/cross-register.md
Labels: small
